<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container-fluid">
        <div class="row" style="height: 100px;"></div>
        <div class="row">
          <div class="col text-center">
            <h4>
              A dream of the future
            </h4>
          </div>
        </div>
        <div class="row" style="height: 20px;"></div>
        <div class="row">
          <div class="col text-center">
            <input type="text" placeholder="Dreams" class="wide" id="input-dream" />
          </div>          
        </div>
        <div class="row" style="height: 15px;"></div>
        <div class="row">
          <div class="col text-center">
            <button type="button" class="btn btn-primary wide" onclick="saveDream()">Save</button>
          </div>          
        </div>
        
        <div class="row" style="height: 100px;"></div>
        
        <div class="row">
          <div class="col text-center">
            <ol id="list"></ol>
          </div>
        </div>
     </div>
     
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script type="text/javascript" src="/public/script.js"></script>
  
     </body>
</html>
